<div class="top-brands" style="width:90%;position:relative;left:5%">
    <div class="container">
        <h3 style="color: #000000">隱私權政策</h3>
        <div class="agile_top_brands_grids">
            <ul>
                <li>
                    <h4>關於個人資料保護，請參閱以下BH網路商店的隱私權聲明：</h4>
                    <h4>為了支持個人資料保護，維護個人隱私權，BH網路商店謹以下列聲明，向您說明BH網路商店蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項。</h4>
                    <br />
                </li>
                <li>
                    <h4>一、適用範圍</h4>
                    <h4>
                        BH網路商店隱私權聲明及其所包含之告知事項，僅適用於BH網路商店，當您使用BH網路商店相關網站所提供之任一服務或與之互動時，代表您同意BH網路商店根據本隱私權聲明所述內容，對您的個人資料進行蒐集、處理及利用。
                        無論您所居住的國家/地區為何，您都同意授權BH網路商店根據本隱私權聲明在您所居住國家/地區以外之處蒐集、傳輸、處理、儲存和使用您的個人資料，以便向您提供服務。
                        BH網路商店庭可能會處理與位於歐盟境內之個人相關資料，並可能透過遵循相關法規所訂之機制從歐盟境內傳輸該等資訊，相關法規所訂之機制包括依歐盟標準契約條款制定的資料處理協議。當您使用BH網路商店的服務，即表示您同意我們將與您相關的資訊傳輸到這些國家/地區。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4> 二、個人資料蒐集之方式</h4>
                    <h4>
                        BH網路商店將透過下列方式蒐集您的個人資料：
                        1.	當您申請註冊成為BH網路商店之會員時；
                        2.	當您使用BH網路商店網站所提供的各項服務時；
                        3.	當您於BH網路商店所經營之網站進行網路購物時；
                        4.	會員服務及顧客意見處理；
                        5.	其他。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>三、個人資料蒐集之目的</h4>
                    <h4>
                        BH網路商店會依照提供予您的各該服務、活動的性質，於下列之特定目的範圍內，蒐集、處理、利用及傳輸您的個人資料
                        1.	人身保險
                        2.	行銷（包括為辦理贈獎活動而須確認得獎者身份、提供贈品及依法開立扣繳憑單等）
                        3.	非公務機關依法定義務所進行個人資料之蒐集處理及利用
                        4.	信用卡、現金卡、轉帳卡、金融卡或電子票證業務
                        5.	契約、類似契約或其他法律關係事務（包括履行法定或合約義務）
                        6.	消費者、客戶管理與服務（包括售後服務）
                        7.	消費者保護
                        8.	財產保險及責任保險
                        9.	商業與技術資訊
                        10.	採購與供應管理
                        11.	票券業務
                        12.	智慧財產權、光碟管理及其他相關行政
                        13.	傳播行政與管理
                        14.	會計與相關服務
                        15.	經營傳播業務
                        16.	資(通)訊與資料庫管理
                        17.	網路購物及其他電子商務服務
                        18.	廣告或商業行為管理
                        19.	調查、統計與研究分析
                        20.	其他經營合於營業登記項目或組織章程所定之業務
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>  四、個人資料蒐集之類別</h4>
                    <h4>
                        BH網路商店將依照BH網路商店相關網站與行動應用程式所提供之服務的性質，向您蒐集以下資料：
                        1.	辨識個人者：包括但不限於姓名、職稱、住址、工作地址、以前地址、住家電話號碼、行動電話、即時通訊軟體帳號、社群媒體帳號、網路平臺申請之帳號、通訊及戶籍地址、電子郵件地址、網際網路協定IP位址、Cookie及其他任何可辨識資料本人者等。
                        2.	辨識財務者：包括但不限於金融機構帳戶之號碼與姓名、信用卡或簽帳卡之號碼、保險單號碼、個人之其他號碼或帳戶等。
                        3.	政府資料中之辨識者：包括但不限於身分證統一編號、統一證號、稅籍編號、護照號碼等。
                        4.	個人描述：包括但不限於年齡、性別、出生年月日、出生地、國籍等。
                        5.	家庭情形：結婚有無等。
                        6.	休閒活動及興趣：包括但不限於嗜好、運動及其他興趣等。
                        7.	為執行商品配送所需者： 當您透過BH網路商店相關網站或行動應用程式進行交易，為提供商品配送物流服務時，BH網路商店將請您提供商品/服務配送所需的配送資料，包括：收件人之姓名、連絡電話、收件/聯絡地址及其他必要的配送相關資料。
                        8.	為執行收付款所需之資料： 當您透過BH網路商店相關網站或行動應用程式進行交易，為辦理收付款金流服務時，BH網路商店將留存您所提供為完成收款或付款所需之資料，包括：信用卡號碼、簽帳卡號碼、金融機構帳戶之姓名及號碼等；但若您選擇使用BH網路商店相關網站內由第三方服務供應商所提供之第三方支付方式時，您因使用該等第三方支付服務所提供的相關資料之保護及管理，請參閱各該第三方服務供應商之隱私權政策。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>  五、資料安全</h4>
                    <h4>
                        BH網路商店將以合於產業標準之合理技術及程序，維護個人資料之安全。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>六、自我保護 </h4>
                    <h4>
                        BH網路商店提醒您，請妥善保管您的任何個人資料。於使用各類網路服務時，不要隨意將您的個人資料提供給不知名的第三人。在您經由網路提供或完成相關個人資料更動等程序後，請務必記得登出，若您是與他人共享電腦或使用公共電腦，切記關閉瀏覽器視窗，以防止他人不當蒐集並利用您的個人資料。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>七、訂之權利 </h4>
                    <h4>
                        BH網路商店有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在BH網路商店網站上或行動應用程式之適當位置，不另行個別通知，您可以隨時在BH網路商店網站上或行動應用程式詳閱修訂後的隱私權聲明及相關告知事項。
                    </h4>
                    <br />
                </li>
            </ul>                                                                       
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<div style="width:100%;height:50px">
</div>
