<div class="top-brands" style="width:90%;position:relative;left:5%">
    <div class="container">
        <h3 style="color: #000000">使用條款</h3>
        <div class="agile_top_brands_grids">                                                      
            <ul>
                <li>
                    <h4>BH網路商店使用條款</h4>
                    <h4>
                        歡迎您在BH進行消費；請您先詳細閱讀以下約定條款：
                        本約定條款適用於【BH網路商】以下簡稱BH內之商品或服務。
                        本約定條款的目的，是為了保護「BH」以及您的利益，如果您點選「我同意」或類似語意的選項、或在BH進行訂購、付款、消費或委託代購等相關行為，就表示您事先已經知悉、並同意本約定條款的所有約定。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4> 一、使用者</h4>
                    <h4>
                        1.如果您要在BH進行消費，您必須在首次訂購流程中先填入您所合法取得且仍有效使用之電子郵件信箱或手機號碼，並自行設定一組密碼。當您第一次在BH留存相關資料或完成消費，本服務系統將紀錄您所填入之電子郵件信箱或手機號碼及您所自行設定之密碼，您並同意日後應以該組電子郵件信箱或手機號碼及密碼登錄後於BH進行消費。
                        2.您有自行妥善保管您留存於本公司系統之電子郵件帳號或手機號碼及所自行設定密碼之義務，不得將該電子郵件帳號或手機號碼及密碼透露或提供給第三人知悉、或出借或轉讓第三人使用。對於所有使用該組電子郵件帳號或手機號碼及密碼登入本服務系統所為之一切行為，您同意由您負其責任。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4> 二、線上訂購</h4>
                    <h4>
                        1.	除本約定條款外，商品銷售網頁及訂購流程中相關網頁上所呈現之相關資訊，包括相關交易條件、限制及說明等，亦為契約之一部分。
                        2.	您一旦在BH依照網頁所定方式、條件及流程完成訂購程序，就表示您提出要約、願意依照本約定條款及相關網頁上所載明的約定內容、交易條件或限制，訂購該商品或服務。您所留存的資料如地址、電話如有變更，應即時通知BH協助進行相關處理，而且您不得以資料不符為理由，否認訂購行為或拒絕付款。
                        3.	若您選擇以信用卡支付價金，您在線上輸入信用卡相關資訊，目的是為了向發卡機構確認信用卡之有效性及取得交易授權，不表示您已經付款、也不代表交易已經完成或契約已經成立，BH保留是否接受您的訂單的權利；在BH接受您的訂購以前，您無需付款，BH不會請領信用卡交易款項，該筆交易金額也不會出現在您的信用卡帳單中。若您選擇以信用卡支付價金、且以分期方式支付，則該等分期付款服務係由您的信用卡發卡機構提供，分期付款之債權債務關係存在於您與信用卡發卡機構之間，除相關網頁上有特別標示者外，您所需支付之利息及其計算方式、是否另有信用保險或保證人之設定或涉入等，均依照您與信用卡發卡機構間之相關約定內容定之，請注意查閱您與信用卡發卡機構間之相關約定。
                        4.	您在BH所進行的所有線上消費及與該等交易有關之事項，您和BH都同意以電子文件為表示方法；BH電腦系統將自動紀錄相關電子交易資料，您亦可經由網路於登入系統後自行查詢相關交易資料，如果您發現交易資料不正確，應立即通知BH。
                        5.	BH e網站內可能包含許多連結，這些被連結網站或網頁上的所有資訊，都是由被連結網站所提供，BH不以任何明示或默示的方式擔保其內容的正確性、可信度或即時性。
                        6.	如果BH電子商務內的商品說明、價格及相關交易條件等，是由配合廠商所自行製作及上載，則BH不以任何明示或默示的方式擔保其內容的正確性、可信度或即時性。
                        7.	關於消費申訴或爭議，您可以在登入系統後，依照線上客服系統所定之處理機制、程序及相關聯絡資訊提出申訴或爭議，BH的客服人員將盡速為您提供服務。
                        8.	您瞭解並同意，如經BH合理懷疑您有以非正常之程序或行為訂購商品時例如：以系統程式或其他軟體大量下單等情形，BH得拒絕接受您的訂單。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>三、關於退貨退款</h4>
                    <h4>
                        1.	如果您所訂購的商品有瑕疵，您可以要求全額退費。
                        2.	您可以依消費者保護法第十九條第一項之規定，行使相關權利。
                        3.	關於退貨退款方式及條件，依各該商品銷售網頁及訂購流程中之相關網頁之記載。
                        4.	您所退回的商品，必須保持所有商品、贈品、附件、包裝、及所有附隨文件或資料在出貨當時狀態的完整性，並將完整商品交予收取退貨之人員。如果有申請紙本發票，您應連同紙本發票及簽署折讓單等相關法令所要求之單據後一併寄回BH顧客服務中心
                        5.	您瞭解並同意，若因您要求退貨或換貨、或因BH無法接受您全部或部分之訂單、或契約因故解除或失其效力，而需為您辦理退款事宜時，BH得代您處理發票或折讓單等相關法令所要求之單據。
                    </h4>
                    <br />
                </li>
                <li>
                    <h4>四、系統安全及備份</h4>
                    <h4>
                        1.	BH將確保本系統具有符合一般可合理期待之安全性；但本系統不以任何明示或默示的方式擔保您所上載或傳輸的資料將被正常顯示或處理、亦不擔保資料傳輸的正確性，如果您發現本系統有錯誤或疏失，請立即通知BH。
                        2.	本系統會定期備份資料，但是除因故意或重大過失所致者外， BH不對任何資料的失誤刪除、或備份錯誤或失敗負責。
                        五、契約之解釋
                        1.	本約定條款及相關網頁上所定各條、各項及相關約定之內容，如該條、該項、或該相關約定內容之全部或一部經法院認定為無效或不構成契約內容之一部，不影響其餘條項或其餘約定內容之效力；經法院認定為無效或不構成契約內容之一部之條項或約定內容，應依相關法令規定所允許之最大可能範圍內，為與原條項或原約定內容相符之解釋或補充。
                        2.	因本約定條款及相關網頁上所定之任一條項或相關約定所取得或可主張之權利，其行使或不行使，不影響依本約定條款及相關網頁上所定其他條項或相關約定所取得或可主張之權利之行使或不行使。
                        3.	依消費者保護法第十一條第二項之規定，定型化契約條款如有疑義時，應為有利於消費者之解釋。
                    </h4>
                    <br />
                </li>               
            </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div style="width:100%;height:50px">
</div>
